.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
}
.form-container{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.form-input {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  
}
.form-text-area {
  padding: 10px;
  margin-right: 10px;
  border-radius: 5px;
  border: 1px solid #ccc;
  width: 300px;
  height: 50px;
}

button {
  background-color: #5460a7;
  border: none;
  color: white;
  padding: 10px 15px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 10px;
  cursor: pointer;
  border-radius: 5px;

}
img{
  width: 30px;
  height: 30px;
 
  margin-left: auto;
  margin-right: auto;

}
.notes{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%;

}
.noteList-heading{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  margin-top: 20px;
  width: 100%;
  font-size: 20px;
  font-weight: bold;
  font-family: 'Courier New', Courier, monospace;
}
.note-container{
  display: flex;
  flex-direction: column;
  align-items: start;
  border: #5460a7 1px solid;
  border-radius: 10px;
  padding: 20px;
  margin-top: 20px;
  width: 70%;
  margin-left: 10%;
  margin-right: 10%;
}
.noteList-image{
  width: 100px;
  height: 100px;
  /* in center */
  display: block;
  margin-left: auto;
  margin-right: auto;
  
}
.note-buttons{
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  margin: 20px;

}
.button-img{
  background-color: transparent;
}
.edit-form{
  display: flex;
  flex-direction: row;
  align-items: center;
  margin-top: 20px;
  width: 100%;
}
.edit-form-container{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}
.edit-form-input {
  padding: 10px;

  border-radius: 5px;
  border: 0;
  background-color: #aaabe8;
  font-size: 1.3rem;
  font-family: 'Courier New', Courier, monospace;
  font-weight: 600
}
.edit-form-text-area{
  padding: 10px;

  border-radius: 5px;
  border: 0;
  background-color: #aaabe8;
  font-size: 1rem;
  font-family: 'Courier New', Courier, monospace;

}